# Cartelle temporanee
slprj/
sfun/
work/

# File di salvataggio automatico
*.asv
*.autosave

# File di backup e temporanei
*.m~
*.bak
*.log

# File Simulink generati
*.slxc
*.slx.autosave
*.mdl.*
*.mex*

# File di sistema
.DS_Store
Thumbs.db
